<!DOCTYPE html>
{% extends 'dashboard.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <div class="col-lg-6">
        <div class="card" >
           <div class="card-body">
           <div class="card-title">Add Product </div>
           <hr>
            <form method="post", action="{% url 'save_product' %}" enctype="multipart/form-data">
            {% csrf_token %}
           <div class="form-group">
            <label for="input-6">Name</label>
            <input type="text" class="form-control form-control-rounded" id="input-6" name="pname" placeholder="Enter product Name">
           </div>
                 <div class="form-group">
            <label for="input-6">Prize</label>
            <input type="text" class="form-control form-control-rounded" name="pprize" placeholder="Prize">
           </div>
            <div class="form-group">
              <label for="category">Category</label>
              <select name="pcat" class="form-control form-control-rounded" required>
                  <option value="">-- Select Category --</option>
                  {% for i in category %}
                  <option >{{i.Name}}</option>
                  {% endfor %}
              </select>
                  
            </div>

            <div class="form-group">
                <label for="exampleTextarea1">Discriptions</label>
                <textarea class="form-control" id="exampleTextarea1" name="pdesc" rows="4"></textarea>{{category.Description}}
            </div>
            <div class="form-group">
                        <label> Upload Image</label>
                        <input type="file" name="pimage" class="file-upload-default">
                        <div class="input-group col-xs-12">
                          <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Image">
                          <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                          </span>
                        </div>
            </div>
<!--           <div class="form-group">-->
<!--            <label for="input-7">Email</label>-->
<!--            <input type="text" class="form-control form-control-rounded" id="input-7" placeholder="Enter Your Email Address">-->
<!--           </div>-->
<!--           <div class="form-group">-->
<!--            <label for="input-8"></label>-->
<!--            <input type="text" class="form-control form-control-rounded" id="input-8" placeholder="Enter Your Mobile Number">-->
<!--           </div>-->
<!--           <div class="form-group">-->
<!--            <label for="input-9">Password</label>-->
<!--            <input type="text" class="form-control form-control-rounded" id="input-9" placeholder="Enter Password">-->
<!--           </div>-->
<!--           <div class="form-group">-->
<!--            <label for="input-10">Confirm Password</label>-->
<!--            <input type="text" class="form-control form-control-rounded" id="input-10" placeholder="Confirm Password">-->
<!--           </div>-->
           <div class="form-group py-2">
             
            <input type="checkbox" id="user-checkbox2" checked="">
            <label for="user-checkbox2">I Agree Terms &amp; Conditions</label>
            </div>
           </div>
           <div class="form-group">
            <button type="submit" class="btn btn-light btn-round px-5"><i class="icon-lock"></i> Register</button>
          </div>
          </form>
         </div>
         </div>
      </div>
</body>
</html>
{% endblock %}